

  body{
    background-color: #F9DEC9;
  }
.card{
  box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2);
  width: 70%;
  margin: auto;
  text-align: center;
  font-family: arial;
  display:inline-block;
  margin-left:16%;
  margin-bottom:1%;
 border-style:solid;
 border-width:2px;
}

.price {
  color: grey;
  font-size: 22px;
}
.pName{
  font-size:20px;
}
.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.addToCart {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
.cart{
    width:99%;
    padding: 6%;
    background-color: white;
    box-shadow: 10px 20px 30px rgb(203, 185, 168);
    border-radius: 80px;
    margin-bottom: 10px;
    display: block;
}
table{
    border:none;
}
@media only screen and (min-width:768px){
  .card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width:250px;
  margin: auto;
  text-align: center;
  font-family: arial;
  display:inline-block;
  margin-left:4%;
  margin-bottom:1%;
 border-style:solid;
 border-width:2px;
}

}
